body
{
   background-color: white;
}

#side-menu 
{

  position: fixed;
  top: 0;
  right: -250px;
  bottom: 0;
  width: 250px;
  background-color: #665f3e;
  color: #fff;
  padding: 20px;
  transition: right 1s;
}

#side-menu.open {
  right: 0;
}
li
{
  margin-bottom: 10%;
}

#lista
{
  padding-left: 25%;
}
/* .slider 
{
  width: 400px;
  height: 200px;
  margin: 0 auto;
}

.slider img
 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button.slick-prev, button.slick-next 
{

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.next-btn {
  position: absolute;
  right: 20px;
}

button.slick-prev 
{
  margin-left: 20%;
  left: 20px;
}

button.slick-next 
{
  margin-left: 20%;
  right: 20px;
} */

/* .carousel-container {
  width: 500px;
  height: 400px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-container img {
  width: 50%;
  height: 50%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 36px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
} */
#logo
{
    display: block;
    margin: 0 auto;

   
}

#div1
{
    padding-top: 60px; 
    width: 500px;
    
}

#texto1
{
    
    text-align: center;
    font-size: large;
}